{% extends "blog/base.html" %}
{% load static %}

{% block contenido %}
<h1>Acerca de mí</h1>
<h5> ¡Hola! Mi nombre es María Paz Donicelli. </h5>
<p> Tengo 23 años y soy estudiante de Licenciatura en Letras. Mi objetivo es dedicarme a la Linguística Computacional, así que decidí comenzar por el curso de Python. Desde chica me entusiasma mucho el arte, pero más aún me encanta escuchar las opiniones de mis amigos y debatir con ellos sobre libros, música, películas, series y más. Es por esto que decidí crear ReseñArte, una página donde compartir reseñas con tus amigos. ¡Espero que la disfruten tanto como yo! </p>
{% endblock contenido %}